<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.nuget.org/consume/NuGet-Config-File#NuGet-config-extensibility-point -->
<configuration>
  <activePackageSource>
    <add key = "nn-dev" value="http://nn-dev.ru/nuget/" />
  </activePackageSource>
  <packageSources>
    <add key = "nn-dev" value="http://nn-dev.ru/nuget/" />
    <add key = "nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>